<!-- Footer -->
<footer class="page-footer font-small">
  <!-- Footer Links -->
  <div class="container">
    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-3">
      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a class="footer-menu" class="footer-menu" href="#!">About us</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a class="footer-menu" href="#!">Products</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a class="footer-menu" href="#!">Awards</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a class="footer-menu" href="#!">Help</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a class="footer-menu" href="#!">Contact</a>
        </h6>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
    <hr />

    <div class="newslatter-div">
      <h1>Sign up & Get offer</h1>
      <p>Sign up our newslatter And Get Latest News</p>
      <div>
        <input type="text" class="subcribe-input" placeholder="Your email" />
        <button class="subcribe-btn">SUBCRIBE</button>
      </div>
    </div>

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p class="footer-text">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur.
        </p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->

    <!-- Grid column -->
    <div class="flex-center">
      <div class="social-menu">
        <div class="media-header">
          <h2>Follow Us</h2>
          <p>Keep Up To Date with The Goings on here</p>
        </div>
        <ul>
          <li>
            <a href=""><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="copyright footer-copyright text-center py-3">
    Bar James WebDev © 2021 Copyright
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
